<% layout("/layouts/boilerplate") %>

   <body>
        <h1>Listings</h1>
        <!-- <form method="GET" action="/listings/new">
            <button type="submit">Create new  listing</button>

        </form> -->
        <ul>
            <% for(let listing of listings) { %>
                <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
            <% } %>
        </ul>
    </body>   